.headerAddRecipe{
    color: white;
}
.formWrapper{
    background-color: #a83232;
    width: 32%;
    height: 335px;
    margin-left: auto;
    margin-right: auto;
}
.formFieldWrapper{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 300px;
}
.form{
    text-align: left;
}
.formLabel{
    margin-left: 5px;
    color: white;
}
.formInput{
    margin-left: 5px;
    width: 100%;
}
.formInput:hover{
    border-color: aqua;
}
.buttonRegister{
    width: 50%;
    height: 30px;
    background-color: rgb(59, 182, 135);
    color: white;
    margin-top: 5px;
    border: 1px white;
}
.buttonRegister:hover{
    cursor: pointer;
    background-color: rgb(59, 182, 135);
}