
  .navbar {
    overflow: hidden;
    background-color: #ff4f87;
  }
  .navLink {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .authLinks{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    margin-top: 2px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navLink:hover,.authLinks:hover, .dropdown:hover .dropbtn {
    background-color: gray;
  }
  
  .content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .content a:hover {
    background-color: gray;
  }
  
  .dropdown:hover .content {
    display: block;
  }
  .userNavButtonUser{
    display: block;
    padding: 18px 16px;
    text-decoration: none;
    text-align: center;
    background-color: #ff4f87;
    color: white;
    border: none;
    float: right;
  }
  .userNavButton{
    display: block;
    padding: 18px 16px;
    text-decoration: none;
    text-align: center;
    background-color: #ff4f87;
    color: white;
    border: none;
    float: right;
  }
  .userNavButton:hover{
    background-color: gray;
    cursor: pointer;
  }
