.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a83232;
  }
  .userNav{
    float:right;
  }
  .item {
    float: left;
  }
  .userNav:hover{
    background-color: rgb(59, 182, 135);
    cursor: pointer;
  }
  .link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .item:hover{
    background-color: rgb(59, 182, 135);
    cursor: pointer;
  }
  